
#container {
    background: red;
}

body {               
    background-color: #e5e5e5;
    color: #25282b;

    text-align: center;
}

button {
    border: none;
    color: #ff5E84;
    font-weight: bold;

    background: none;
}

button.fat {
    color: white;
    background: #ff5E84;
}

#footer a {
    color: #25282B;
    text-decoration: none;

}

.hide {
    display: none;
}